@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cormorant, serif;
  font-weight: 400;
  background-color: #dad8d1;
}

.navbar {
  margin: 20px 32px;
}

h1 {
  display: inline-block;
  font-weight: inherit;
}
.links {
  display: inline-block;
}

.links ul {
  margin-left: 32px;
}

.links li {
  display: inline-block;
  font-size: 20px;
}

.links a {
  text-decoration: none;
  color: black;
  margin: 0px 10px;
}

a.active {
  text-decoration: underline 1px;
  text-underline-offset: 6px;
}

/* image grid */
.image-grid {
  padding: 16px;
}

.image-container {
  display: inline-block;
  width: 49.5%;
  /* min-width: 400px; */
  padding: 16px; /* here 16 + .image grid's 18 results in proper 16px as in <nav> margin */
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.image-container h2 {
  font-weight: 300;
  margin: 8px 0 16px 0;
}

/* about section */

.about {
  margin-left: 160px;
  margin-top: 40px;
  width: 40%;
}

.about p {
  font-weight: inherit;
  font-size: xx-large;
}

.about h3 {
  font-weight: inherit;
  font-size: xx-large;
  margin: 25px 0;
  text-decoration: underline 2px;
  text-underline-offset: 6px;
}

/* contact  */
.contact {
  margin-left: 160px;
  margin-top: 100px;
  margin-bottom: 30px;
  width: 40%;
}

.contact h4,
.contact p {
  font-size: large;
  font-weight: 400;
}

@media only screen and (max-width: 1080px) {
  .image-container {
    width: 99%;
  }

  .about {
    width: 70%;
  }

  /* .about p {
    font-size: 16px;
  } */
}

@media only screen and (max-width: 800px) {
  .image-container {
    display: inline-block;
    width: 99%;
    padding: 2px; /* here 16 + .image grid's 18 results in proper 16px as in <nav> margin */
  }

  .about,
  .contact {
    width: 80%;
    margin-left: 20px;
  }

  .about p {
    font-size: 26px;
  }
}

@media only screen and (max-width: 500px) {
  .image-container {
    display: inline-block;
    width: 99%;
    padding: 2px; /* here 16 + .image grid's 18 results in proper 16px as in <nav> margin */
  }

  .about,
  .contact {
    width: 80%;
    margin-left: 20px;
  }

  .about p {
    font-size: 26px;
  }
}
